<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Contato: LOSB</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header"></div>
		</div>

		<ul class="nav nav-tabs">
			<li role="presentation"><img alt="GFT"
				src="/imagens/GFT logo.png"></li>
			<li role="presentation"><a href="/perfil">Home</a></li>
			<li role="presentation"><a href="/perfil/projetos">Projetos</a></li>
			<li role="presentation"><a href="/perfil/skills">Skills</a></li>
			<li role="presentation" class="active"><a
				href="/perfil/contatos">Contatos</a></li>
		</ul>
	</nav>

	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h3 class="panel-title text-center">Meus contatos</h3>
		</div>
		<div class="panel-body text-center">
			<img alt="zapzap" src="/imagens/whats.png" height="50" width="50">
			Celular: +55 (11) 99302-2465
		</div>
		<div class="email text-center">
			Email: <a href="mailto:luiz-osb@hotmail.com" title="email">luiz-osb@hotmail.com</a>
		</div>
		<div class="linkedin text-center">
			<img alt="linkedin" src="/imagens/linkedin.png" height="50"
				width="50"> LinkedIn: <a
				hreft="www.linkedin.com/in/luiz-otávio-silva-barbosa-883a96121"
				title="linkedin">
				www.linkedin.com/in/luiz-otávio-silva-barbosa-883a96121 </a>
		</div>


		<div class="row">
			<div class="col-md-9">
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Envie uma mensagem</label>
					<textarea class="form-control" id="exampleFormControlTextarea1"
						rows="3"></textarea>
				</div>
			</div>
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary mb-2" id="enviar"
					onclick="lasanha()">Enviar</button>

			</div>
		</div>
	</div>
	<div class="footer">
		<hr>
		Luiz Otávio Silva Barbosa @ Estagiário GFT
	</div>



	<script src="/js/bootstrap.min.js"></script>
</body>
</html>