<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Perfil: LOSB</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header"></div>
		</div>

		<ul class="nav nav-tabs">
			<li role="presentation"><img alt="GFT"
				src="/imagens/GFT logo.png"></li>
			<li role="presentation" class="active"><a href="/perfil">Home</a></li>
			<li role="presentation"><a href="/perfil/projetos">Projetos</a></li>
			<li role="presentation"><a href="/perfil/skills">Skills</a></li>
			<li role="presentation"><a href="/perfil/contatos">Contato</a></li>
		</ul>
	</nav>

	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h3 class="panel-title text-center">Um pouco sobre mim...</h3>
		</div>
		<div class="panel-body panel-intro">
			<p align="center">Olá :), meu nome é Luiz Otávio Silva Barbosa!
				Tenho 23 anos e sou paulista porém com uma família muito grande em
				Minas Gerais. Tenho uma irmã mais nova e um irmão mais velho, e com
				eles moro com meus pais. Moro na Zona Leste de São Paulo na região
				da Vila Matilde.</p>


			<img src="/imagens/luizformado.jpg" class="luizformado" height="300">

			<p align="center">Sou formado em Química pela Universidade
				Presbiteriana Mackenzie, terminado o curso em dezembro de 2018.</p>

			<p align="center">Em Agosto de 2019 entrei na Fatec Zona Leste na
				posição 14º para o curso de Análise e Desenvolvimento de Sistema,
				hoje em dia estou no 2º semestre e estou estagiando na GFT, onde
				estou sendo muito feliz por me darem esta oportunidade de crescer
				não só profissionalmente mas como pessoa também!</p>
		</div>
		<img class="eu" alt="Eu" src="/imagens/luiz.png" height="500"
			width="500">
		<div class="panel-heading">
			<h3 class="panel-title text-center">Objetivos</h3>
		</div>
		<div class="panel-body panel-objetivos">
			<p align="center">Muitas pessoas me perguntam quais são meus
				objetivos, principalmente no momento recente pois agora estou empregado e gostando muito de TI, qual é meu combustivel pra ser
				dedicado e não ter medo de enfrentar os problemas?</p>
			<p align="center">Simples: Eu quero ser feliz dando tudo de mim
				em tudo que posso, não sei onde vou chegar, mas quero ser grande.</p>


		</div>
	</div>
	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h3 class="panel-title text-center">Alguns hobbies</h3>
		</div>
		<div class="panel-body panel-desenhar">
			<h4 align="center">Amo desenhar</h4>
			<img class="hobbies" alt="tucano" src="/imagens/tucano.jpg"
				height="300"> <img class="hobbies" alt="bulba"
				src="/imagens/bulba.jpeg" height="300"> <img class="hobbies"
				alt="vaporeon" src="/imagens/vaporeon.jpeg" height="300"> <img
				class="gyrados" alt="gyrados" src="/imagens/gyrados.jpeg"
				height="300">
		</div>
		<div class="panel-body panel-viajar">
			<h4 align="center">Além de viajar bastante para o interior de MG</h4>
			<img class="luizviagem" alt="luizviagem"
				src="/imagens/luizviagem.jpg" height="500">
		</div>
	</div>

	<div class="footer">
		<hr>
		Luiz Otávio Silva Barbosa @ Estagiário GFT
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>